.AppInitializerViewWidget {
  height: 100%;
  padding: 24px;
  overflow: auto;

  &-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 24px 0;
  }

  &-body {
    margin-top: 48px;
  }
}
