.DS_Store
sh.exe.stackdump

node_modules/

.cache/
.asset-cache/
.sass-cache/

sites/homepage/_data/knosys/
sites/homepage/_knosys/
sites/homepage/_site/

*.log

# Hexo
Thumbs.db
db.json
public/
.deploy*/
