<ul>
  {% assign _inc_site_url = site.baseurl | prepend: site.url %}
  {% for _inc_item in include.items %}
    <li>
      {% assign _inc_collection = _inc_item.collection | default: include.collection %}
      {% assign _inc_docs = site.data.knosys[include.repo][_inc_collection].items %}
      {% assign _inc_url_parts = page.id | split: "/" %}
      {% if _inc_item.items %}
        <span>{{ _inc_item.text }}</span>
        {% include doc-toc.html repo=include.repo items=_inc_item.items collection=_inc_collection %}
      {% elsif _inc_item.slug %}
        {% if _inc_collection == "pages" %}
          <a{% if _inc_item.slug == _inc_url_parts[1] and _inc_url_parts.size == 2 %} class="is-selected"{% endif %} href="/{{ _inc_item.slug }}/">{{ _inc_item.text }}</a>
        {% else %}
          <a{% if _inc_item.slug == _inc_url_parts[2] %} class="is-selected"{% endif %} href="{{ '/' | append: _inc_collection | append: '/' | append: _inc_item.slug | append: '/' | prepend: _inc_site_url }}">{{ _inc_docs[_inc_item.slug].title }}</a>
        {% endif %}
      {% else %}
        <a{% if _inc_item == _inc_url_parts[2] %} class="is-selected"{% endif %} href="{{ '/' | append: _inc_collection | append: '/' | append: _inc_item | append: '/' | prepend: _inc_site_url }}">{{ _inc_docs[_inc_item].title }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
