<footer class="Page-footer Footer">
  <div class="{% if site.data.local.repos[page.repo] %}container-fluid{% else %}container{% endif %}">
    <div class="Footer-description">
      <!-- 重要链接 -->
      <nav class="Footer-navs">
        <ul>
          <li><a href="https://oss.ourai.ws/?utm_source=knosysio.github.io&utm_medium=common-footer" title="访问「Ourai Open Source」" target="_blank" rel="external nofollow"><span>OOSS</span></a></li>
          <li><a href="https://qiidb.github.io/?utm_source=knosysio.github.io&utm_medium=common-footer" title="访问「QiiDB」" target="_blank" rel="external nofollow"><span>QiiDB</span></a></li>
        </ul>
      </nav>
      <!-- 网站版权 -->
      <div class="Footer-copyright">
        <p>&copy; 2022-{{ site.time | date: "%Y" }} <a href="https://ourai.ws/?utm_source=knosysio.github.io&utm_medium=common-footer" target="_blank">欧雷流</a> 版权所有</p>
        <p>由 <a href="https://linxoid.com/ourai/?utm_source=knosysio.github.io&utm_medium=common-footer" target="_blank" rel="external nofollow">欧雷</a> 用 ♥ 设计与开发</p>
      </div>
    </div>
  </div>
</footer>
