.DefaultLayout {
  &,
  &-sidebar,
  &-main,
  &-body,
  &-navMenu,
  &-content {
    height: 100%;
  }

  &-sidebar,
  :global(.ant-layout-sider-children) {
    display: flex;
    flex-direction: column;
  }

  &-body,
  &-navMenu,
  :global(.ant-layout-sider-children) {
    flex-grow: 1;
  }

  &-header,
  &-logo,
  :global(.ant-layout-sider-trigger) {
    flex-shrink: 0;
  }

  &-body,
  &-navMenu {
    overflow: auto;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #fff;

    :global(.ant-breadcrumb) {
      font-size: 16px;
    }
  }

  &-body {
    margin: 24px 16px;
  }

  &-logo {
    margin: 16px;
    text-align: center;
  }

  &-logoText {
    display: block;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .2);
  }

  &-navMenu {
    :global(.ant-menu-item-divider) {
      border-color: rgba(5, 5, 5, .6);
    }
  }

  &-content {
    border-radius: 8px;
    background-color: #fff;
  }
}
