@mixin article-elements {
  h2,
  h3 {
    font-weight: 500;
    line-height: 1.1;
  }

  h2 {
    margin: 1em 0 .5em;
    padding-bottom: 10px;
    font-size: 1.8em;
    border-bottom: 1px solid #eee;
  }

  h3 {
    margin: 24px 0 12px;
    font-size: 1.4em;
  }

  p {
    margin: 0 0 1.5em;
    line-height: 1.8;
    word-break: break-all;
  }
}

@mixin article-reader($body: "") {
  font-family: "Helvetica Neue", Helvetica, Arial, "Pingfang SC", "Microsoft Yahei", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333;

  @if $body == "" {
    @include article-elements;
  }
  @else {
    #{$body} {
      @include article-elements;
    }
  }
}
