.DefaultLayout {
  &,
  &-sidebar,
  &-main,
  &-body,
  &-navMenu,
  &-content {
    height: 100%;
  }

  &-sidebar,
  :global(.ant-layout-sider-children) {
    display: flex;
    flex-direction: column;
  }

  &-body,
  &-navMenu,
  :global(.ant-layout-sider-children) {
    flex-grow: 1;
  }

  &-header,
  &-logo,
  :global(.ant-layout-sider-trigger) {
    flex-shrink: 0;
  }

  &-body,
  &-navMenu {
    overflow: auto;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #fff;

    :global {
      .ant-breadcrumb {
        font-size: 16px;
      }

      .ant-avatar {
        padding: 2px;
        border: 1px solid #ccc;
      }
    }
  }

  &-body {
    margin: 24px 16px;
  }

  &-logo {
    height: 40px;
    margin: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .2);
  }

  &-content {
    border-radius: 8px;
    background-color: #fff;
  }
}
