.Widget {
  font-size: 14px;

  &-header {
    margin-bottom: 10px;
  }

  &-title {
    margin: 0;
    padding-left: 10px;
    border-left: 3px solid #0871ab;
    font-size: 16px;
    line-height: inherit;
  }

  &-body {
    p {
      margin-bottom: 0;
    }
  }

  &.is-separated {
    @media all and (min-width: $screen-md-min) {
      padding-top: 20px;
      border-top: 1px solid #eee;
    }
  }

  + .Widget {
    margin-top: 20px;
  }
}



// 目录
.Widget--toc {
  width: 220px;

  ul {
    list-style: none inside none;
    padding-left: 0;
  }

  > ul {
    margin-bottom: 0;
  }

  .nav {
    > li {
      > a {
        padding: 2px 0 2px 13px;
        border-left: 2px solid transparent;
        color: #666;

        &:hover {
          background-color: transparent;
        }
      }

      &.active {
        > a {
          border-left-color: #0871ab;
          font-weight: bold;
          color: #0871ab
        }
      }

      .nav > li {
        > a {
          padding-left: 28px;
        }

        &.active > a {
          font-weight: normal;
        }
      }
    }
  }

  &.affix {
    top: 20px;
    margin-top: 0;
    padding-top: 0;
    border-top-style: none;
    @include transition(top .5s);
  }

  @media all and (min-width: $screen-lg-min) {
    width: 270px;
  }

  @media all and (max-width: $screen-sm-max) {
    display: none;
  }
}



.Widget--share {
  .Widget-body > p {
    margin-bottom: 10px;

    .fa {
      margin-left: .5em;
    }
  }

  .social-share .social-share-icon {
    width: 28px;
    height: 28px;
    margin: {
      top: 0;
      bottom: 0;
    }
    line-height: normal;
    font-size: 18px;

    &:before,
    &:after {
      @include inline-block;
    }

    &:after {
      height: 100%;
      content: $UN-space;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
