//= Override Bootstrap variables

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "Pingfang SC", "Microsoft Yahei", Sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;

$navbar-height: 60px;
