* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

html,
body,
#root,
#root > .ant-spin-nested-loading,
#root > .ant-spin-nested-loading > .ant-spin-container {
  height: 100%;
}

#root > .ant-spin-nested-loading > div > .ant-spin {
  max-height: none;
}
