{% assign _inc_link = include.link %}{% if _inc_link.url contains "http" %}
  {% assign _inc_link_url = _inc_link.url | append: "?" | append: include.utm %}
  {% assign _inc_external = true %}
{% else %}
  {% if _inc_link.url %}
    {% assign _inc_link_url = _inc_link.url | prepend: site.baseurl | prepend: site.url %}
  {% else %}
    {% assign _inc_link_url = "javascript:void(0);" %}
  {% endif %}
  {% assign _inc_external = false %}
{% endif %}<a href="{{ _inc_link_url }}"{% if _inc_external %} target="_blank" rel="external nofollow"{% endif %}>{% if include.wrap == true %}<span>{{ _inc_link.text }}</span>{% else %}{{ _inc_link.text }}{% endif %}</a>
