@import "../../helper";

.QiiDetail {
  height: 100%;

  > :global(.ant-spin-nested-loading),
  > :global(.ant-spin-nested-loading > .ant-spin-container) {
    height: 100%;
  }

  > :global(.ant-spin-nested-loading > div > .ant-spin) {
    max-height: none;
  }
}

.ArticleViewWidget {
  height: 100%;
  padding: 24px;
  overflow: auto;

  @include article-reader("&-body");

  &-banner {
    position: relative;
    height: 240px;
    background: transparent none 50% 50% no-repeat;
    background-size: cover;

    &,
    &:before {
      border-radius: 6px;
    }

    &:before {
      content: "\0020";
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: .35;
    }

    img {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      clip: rect(0, 0, 0, 0);
      overflow: hidden;
    }
  }

  &-main {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
  }

  &-title {
    margin: 0;
    font-size: 48px;
  }

  &-meta {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
  }

  &-publishTime {
    margin-right: 1.5em;

    time {
      margin-left: .5em;
    }
  }

  &.has-banner &-main {
    position: relative;
    padding-top: 3em;
  }

  &.has-banner &-header {
    position: absolute;
    bottom: 100%;
    width: 100%;
    padding-bottom: 2em;
  }

  &.has-banner &-title,
  &.has-banner &-publishTime {
    color: #fff;
  }

  &.has-banner &-title {
    margin-bottom: .25em;
  }
}
