@import "../../helper";

.ArticlePreviewer {
  height: 100%;
  padding: 24px;
  overflow: auto;

  @include article-reader;
}

.ArticleEditor {
  height: 100% !important;
  padding: 24px;
  resize: none !important;
  font-family: monospace;
  border-style: none;
  box-shadow: none !important;
}

.EditorViewWidget {
  display: flex;
  flex-direction: column;

  &,
  &-editor,
  &-previewer {
    height: 100%;
  }

  &-title {
    flex-shrink: 0;
    border-bottom: 1px solid #eee;

    :global(.ant-input) {
      padding: 24px;
      font-size: 24px;
      border-style: none;
      box-shadow: none !important;
    }
  }

  &-content {
    flex-grow: 1;
    overflow: hidden;
  }

  &-editor,
  &-previewer {
    width: 50%;
    float: left;
  }

  &-editor {
    border-right: 1px solid #eee;
  }
}
